.classpath
.project
.settings/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
web/src/main/webapp/WEB-INF/lib/
web/src/main/webapp/WEB-INF/classes/
resin-3.1_53/
.idea/
*.iml
profiles.xml.1
.bak
*.class
*.jar
/node_modules
/ver
/dist
/front-end/node_modules
