@charset "utf-8";
$color-pink: #ff5f5f;
$color-blue: #49a7f6;
$color-border: #E5E5E5;
$color-green: #44cc55;
$color-yellow: #f6bb49;
$color-orange: #ef5522;
$color-btn-white: #ddd;
$background:#fff;
$color-orange:#fed943;
